.idea
node_modules/
.env

# Entornos locales
.env.*
!.env.example

# Prisma client generado
/src/generated/prisma/

# Logs y reportes locales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/

# Archivos del sistema
.DS_Store
Thumbs.db
